@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F4F4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 330px;
  background-color: #FFFFFF;
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0px 10px 10px #e1e1e1bd;
}

#display {
  background-color: #EAEAEA;
  height: 128px;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 12px;
  font-size: 50px;
  line-height: 96px;
  text-align: right;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#numbers button {
  background-color: #F8F8F8;
}
#operators button {
  color: #FFFFFF;
  background-color: #ADADAD;
}
button#operate {
  color: #FFFFFF;
  background-color: #474747;
}

button {
  display: block;
  font-size: 32px;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  bottom: 0;
  opacity: .9;
  transition: all 0.2s ease-in-out;
}
button:hover {
  bottom: 4px;
  font-size: 36px;
  opacity: 1;
}
button:active {
  bottom: 0;
  font-size: 32px;
  opacity: 1;
}

.flex {
  display: flex;
  gap: 8px;
}
.span-2 {
  flex: 1 1 auto;
}
.main {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#numbers {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.pannel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#operators {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dark {
  background-color: #151515;
}
.dark .calculator {
  background-color: #000000;
  box-shadow: 0px 10px 10px #111111;
}
.dark #display {
  color: white;
  background-color: #151515;
}
.dark #numbers button {
  color: #B9B9B9;
  background-color: #151515;
}
.dark #operators button {
  color: black;
  background-color: #535353;
}
.dark button#operate {
  color: black;
  background-color: #B8B8B8;
}
.dark button#clear,
.dark button#back,
.dark button#pos-neg {
  color: #B9B9B9;
  background-color: #333333;
}
.dark button#back img {
  filter: invert(100%);
}
.dark #theme-switch {
  color: #B8B8B8;
}

#theme-switch {
  position: absolute;
  top: 48px;
  width: 100%;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 32px;
  background-color: #FFFFFF;
  outline: solid 2px #E8E8E8;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  background-color: #E8E8E8;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #000000;
  outline: solid 2px #535353;
}
input:checked + .slider:before {
  background-color: #535353;
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}