* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #4529e3;
  --light: #eee;
  --dark: #222;
  --background: #555;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}

#calculator {
  background-color: var(--background);
  padding: 32px 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.screen {
  background-color: var(--dark);
  max-width: 274px;
  min-height: 120px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

#text {
  font-size: 40px;
  font-family: 'Share Tech Mono', monospace;
  text-align: right;
  line-height: 90%;
  color: white;
  word-break: break-all;
  flex: 1;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}

button {
  font-family: 'Arimo', sans-serif;
  font-size: 24px;
  width: 64px;
  height: 64px;
  border: solid 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: opacity 0.15s ease-in-out;
}

button.light {
  color: var(--dark);
  background-color: var(--light);
}

button.dark {
  color: var(--light);
  background-color: var(--dark);
}

button.accent {
  color: var(--light);
  background-color: var(--main-color);
}

button.small {
  font-size: 18px;
}

button.large {
  grid-column-end: span 2;
  width: 100%
}

button:hover {
  opacity: 0.8;
}

button:active,
button.active {
  opacity: 0.5;
}

button:focus {
  outline: none;
}